Package                  Version
------------------------ ----------
atomicwrites             1.4.0
attrs                    21.4.0
bcrypt                   3.2.0
catkin-pkg               0.4.23
cffi                     1.14.6
click                    8.0.3
colorama                 0.4.4
cryptography             35.0.0
cycler                   0.10.0
distro                   1.6.0
docutils                 0.17.1
empy                     3.3.4
ifcfg                    0.22
importlib-metadata       4.8.1
iniconfig                1.1.1
kiwisolver               1.3.2
lark-parser              0.12.0
lxml                     4.6.3
matplotlib               3.4.3
netifaces                0.11.0
numpy                    1.21.2
opencv-python            4.5.3.56
packaging                21.0
paramiko                 2.9.1
Pillow                   8.3.2
Pint                     0.18
pip                      21.2.4
pluggy                   1.0.0
psutil                   5.8.0
py                       1.11.0
pycairo                  1.20.1
pycparser                2.20
pydot                    1.4.2
pyfrc                    2022.0.0
PyNaCl                   1.4.0
pynetconsole             2.0.2
pynetworktables          2021.0.0
pyntcore                 2022.2.1.0
pyparsing                2.4.7
PyQt5                    5.15.4
PyQt5-Qt5                5.15.2
PyQt5-sip                12.9.0
pytest                   6.2.5
python-dateutil          2.8.2
PyYAML                   5.4.1
robotpy                  2022.0.14
robotpy-hal              2022.2.1.0
robotpy-halsim-gui       2022.2.1.0
robotpy-installer        2022.0.0
robotpy-wpilib-utilities 2022.0.0
robotpy-wpimath          2022.2.1.1
robotpy-wpiutil          2022.2.1.0
rosdistro                0.8.3
rospkg                   1.3.0
setuptools               58.2.0
six                      1.16.0
toml                     0.10.2
wpilib                   2022.2.1.1
zipp                     3.6.0
